main {
  width: 100%;
  height: 500px;
  background-color: bisque;
  position: relative;
}

div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: box;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  position: absolute;
}

@keyframes box {
  0% {
    background-color: green;
    width: 100px;
    height: 100px;
    left: 0px;
    font-size: 10px;
    text-align: center;
  }

  25% {
    background-color: red;
    width: 150px;
    height: 150px;
    left: 1804px;
    top: 0px;
    font-size: 15px;
    text-align: center;
  }

  50% {
    background-color: blue;
    width: 300px;
    height: 300px;
    left: 902px;
    top: 300px;
    font-size: 30px;
    text-align: center;
  }

  75% {
    background-color: red;
    width: 150px;
    height: 150px;
    left: 900px;
    top: 300px;
    font-size: 15px;
    text-align: center;
  }

  100% {
    background-color: green;
    width: 100px;
    height: 100px;
    left: 0px;
    top: 0px;
    font-size: 10px;
    text-align: center;
  }
}
main div p{
  width: 100px;
  height: 100px;
  animation-name: text;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  position: absolute;
}
